# Configuration file for budget report extraction
#
# This file shall contain at least the [general section]
# and then one section by table to extract
# Each table property can be specified per-page using dotted key
# notation with page name and propety:
# [testpage]
# pages = [45, 46, 47]
# header_lines = 5
# 47.header_lines = 2
#
# Properties description
#
# [general]
# filename = '' # mandatory, source file name
# tables = [] # mandatory, list of tables to extract
#
# [table1]
# pages - The list of the pages to extract, can be:
# - an integer for a single page
# - a list of integers for multi-page table, merged according
#   to 'axis'
# - a list mixing integers and list of integer, merged according
#   to 'axis' and sublists merged according to 'index'
# Defaults to None (leads to error)
# pages = None
#
# axis - The axis to merge multipages, can be either 0/'index' or
# 1/'columns'. This is passed directly to pandas.concat.
# axis = 'index'
#
# verbose - Boolean. Be verbose during processing.
# verbose = false
#
# table_number - The number of the table in the page. Default to 1 for
# single page. Assumed to be 0 if omitted in case of multiple pages merged
# along index.
# table_number = 1
#
# header_lines - The number of lines in the header
# header_lines = 1
#
# header_mask - list of list of line/column pairs. Avoid to consider
# the cells included in coordinates for labels construction. Start from 0.
# For instance [[[0, 5], [3, 7]], [[1, 9], [2, 9]]] will replace all
# cells from row 0 to 3 and columns 3 to 7 by NaN, and the same for
# the second and third cells from column 9.
# header_mask = []
#
# labels - dict of column number/label pairs. Replace column
# number by label. The replacement is performed after file read and
# chapter number/name demixing (if any).
# If the column 0 is not specified, it is replaced by 'Chapitre'.
# 'nan' can be specified as label to drop column if useless.
# Create columns if the list size if bigger than the actual number of
# columns.
# labels = {}
#
# move_labels - list of list of source/dest pairs. Move
# source label to destination column. Source column is marked for
# latter drop as label is set to 'nan'. The modifications are performed
# in the order of the list, i.e. [[2, 1], [3, 2]] means first move column
# 2 label to column 1 and after move column 3 label to column 2
# move_labels = []
#
# data - array of arrays of key/value pairs. Set 'value' at 'key'
# location. 'key' shall be in format '[row, column]'.
# data = []
#
# data_start_column - The first data column, starting from 0 and
# counted right after read, before header, index and data processing
# data_start_column = 2
#
# data_in_first_column - list of strings. In case first data columns are
# merged with chapter label column, name of the data column. Splitting is
# performed after labels swapping and fixing.
# data_in_first_column = []
#
# rebuild_data - boolean. In case of multiple columns merged in a single
# one, shuffle the values of the entire row accross the columns.
# reuild_data = false
#
# initial_chapter_name_column - The column of the chapter name,
# counted right after read, before header, index and data processing.
# initial_chapter_name_column = 1
#
# chapter_number_mixed_with_name - Boolean, indicates whether in
# output from file read the first rows contains both the chapter
# number and the chapter name.
# chapter_number_mixed_with_name = false

[general]
filename = 'BP_2025_ville.pdf'
tables = ['bgdi', 'bgdf', 'bgri', 'bgrf', 'vedi', 'veri', 'dari', 'dadi', 'dadf', 'darf', 'pcvei', 'f0i', 'f0i-sg', 'f1i', 'f2i', 'f3i', 'f4i', 'f5i', 'f7i', 'f8i', 'pcvef', 'f0f', 'f0f-sg', 'f1f', 'f2f', 'f3f', 'f4f', 'f5f', 'f6f', 'f7f', 'f8f']
# tables = ['bgdf']

[bgdi]
pages = 17
labels = {2 = 'nan'}

[bgdf]
pages = 17
table_number = 2

[bgri]
pages = 19
labels = {2 = 'nan'}

[bgrf]
pages = 19
table_number = 2

[vedi]
pages = 21
header_lines = 5
labels = {1 = 'Titre Chapitre', 2 = 'nan'}
data = [[[0, 'Chapitre'], 'Total']]

[veri]
pages = 23
header_lines = 4
labels = {1 = 'Titre Chapitre', 2 = 'nan'}
move_labels = [[4, 5]]
data = [[[0, 'Chapitre'], 'Total']]

[dadi]
pages = [25, 26]
header_lines = 5

[dari]
pages = [31, 32]
header_lines = 4
31.move_labels = [[2, 1], [4, 5]]
31.data = [[[0, 'Chapitre'], 'Total']]

[dadf]
pages = [36, 37, 38, 39]
header_lines = 5
39.labels = {1 = 'nan'}
39.chapter_number_mixed_with_name = true

[darf]
pages = [41, 42]
header_lines = 3
41.move_labels = [[2, 1], [4, 5]]
42.chapter_number_mixed_with_name = true
42.move_labels = [[1, 0], [4, 5]]
42.labels = {2 = 'nan'}

[pcvei]
pages = [44, [45, 46]]
axis = 'columns'
44.header_lines = 7
44.move_labels = [[9, 10]]
45.header_lines = 5
46.move_labels = [[5, 6], [8, 9]]
46.header_lines = 5

[f0i]
pages = 47
header_lines = 2
labels = {2 = 'nan'}
47.move_labels = [[3, 1], [4, 5]]

[f0i-sg]
pages = [48, 49, 50]
axis = 'columns'
48.header_lines = 9
48.labels = {5 = '023 Fêtes et cérémonies', 6 = "024 Aide aux associations"}
49.header_lines = 7
49.table_number = 1
49.header_mask = [[[0, 5], [3, 5]]]
50.header_lines = 7
50.table_number = 1
50.move_labels = [[2, 1], [7, 8]]
50.header_mask = [[[0, 5], [1, 5]]]
50.rebuild_data = true

[f1i]
pages = 51
header_lines = 5
move_labels = [[2, 1]]

[f2i]
pages = [52, 53, 54]
axis = 'columns'
52.header_lines = 9
52.move_labels = [[2, 1]]
52.header_mask = [[[0, 3], [2, 8]]]
52.labels = {5 = '212 Ecoles primaires', 6 = '213 Classes regroupées', 8 = '222 Lycées publics', 9 = '223 Lycées privés'}
52.rebuild_data = true
53.table_number = 1
53.header_lines = 9
53.header_mask = [[[0, 7], [4, 10]]]
53.rebuild_data = true
53.labels = {7 = '2561 Missions statutaires et réglementaires', 8 = '2562 Développement des compétences', 9 = '2563 Evolution et transition professionnelle', 10 = '2564 Organisation des activités pédagogiques', 11 = '2565 Autres', 12 = '2571 Concours', 13 = '2572 Missions administratives', 14 = '258 Autres'}
54.table_number = 1
54.header_lines = 7
54.rebuild_data = true
54.move_labels = [[2, 1]]
54.header_mask = [[[0, 6], [3, 6]]]
54.labels = {6 = '282 Sport Scolaire', 7 = '283 Médecine scolaire', 8 = '284 Classes de découverte', 9 = "288 Autre service annexe de l'enseignement", 10 = '29 Sécurité', 11 = 'Total Du Chapitre'}

[f3i]
pages = [55, 56, 57]
axis = 'columns'
55.header_lines = 8
55.header_mask = [[[0, 8], [2, 8]]]
55.move_labels = [[4, 5], [8, 9], [7, 8], [12, 13]]
56.table_number = 1
56.header_lines = 5
56.header_mask = [[[0, 6], [1, 6]]]
56.move_labels = [[2, 1], [4, 5]]
56.labels = {6 = '323 Piscines', 7 = '324 Centres de formation sportifs', 8 = '325 Autres équipements sportifs ou loisirs', 9 = '326 Manifestations sportives'}
56.rebuild_data = true
56.data = [[[0, 'Libellé'], 'DEPENSES'], [[3, 'Libellé'], 'RECETTES']]
57.table_number = 1
57.header_lines = 7
57.header_mask = [[[0, 4], [1, 6]]]
57.move_labels = [[2, 1], [3, 4]]
57.labels = {5 = '332 Colonies de vacances', 6 = '338 Autres activités pour les jeunes', 7 = '341 Egalité entre les femmes et les hommes', 8 = '348 Autres', 9 = '39 Sécurité', 10 = 'Total Du Chapitre'}
57.rebuild_data = true

[f4i]
pages = [58, 59, 60]
axis = 'columns'
58.header_lines = 5
58.header_mask = [[[0, 8], [1, 8]]]
58.move_labels = [[2, 1], [3, 4], [5, 6], [11, 12]]
58.labels = {8 = 'nan'}
58.data = [[[0, 'Libellé'], 'DEPENSES'], [[3, 'Libellé'], 'RECETTES']]
59.table_number = 1
59.header_lines = 7
59.header_mask = [[[0, 3], [3, 10]]]
59.move_labels = [[10, 11], [6, 8], [5, 6], [4, 5]]
59.labels = {7 = 'nan'}
60.table_number = 1
60.header_lines = 9
60.move_labels = [[2, 1], [8, 9], [6, 7], [5, 6]]
60.header_mask = [[[0, 6], [1, 6]], [[2, 4], [4, 4]]]

[f5i]
pages = [61, 62, 63]
axis = 'columns'
61.header_lines = 7
61.header_mask = [[[0, 3], [1, 7]]]
61.move_labels = [[2, 1]]
61.labels = {7 = '513 Art Public', 8 = '514 Electrification'}
61.rebuild_data = true
62.table_number = 1
62.header_lines = 8
62.data_start_column = 1
62.data_in_first_column = ['52 Politique De La Ville']
62.labels = {3 = '551 Parc Privé De La Collectivité', 4 = '552 Aide Au Secteur Locatif', 5 = "553 Aide À L'Accession À La Propriété", 6 = "554 Aire d'Accueil Des Gens Du Voyage", 7 = '555 Logement Social'}
62.rebuild_data = true
62.chapter_number_mixed_with_name = true
63.table_number = 1
63.header_lines = 5
63.header_mask = [[[0, 5], [1, 5]]]
63.move_labels = [[8, 9], [5, 7], [4, 5]]
63.labels = {6 = 'nan'}

[f7i]
pages = [64, 65, 66]
axis = 'columns'
64.header_lines = 10
64.header_mask = [[[0, 2], [3, 3]]]
64.data_in_first_column = ['70 Services Communs', '71 Actions transversales']
64.labels = {0 = 'Libellé', 2 = '7211 Actions prévention et sensibilisation',  3 = '7212 collecte des déchets', 4 = '7213 Tri, valorisation, traitement des déchets', 5 = '7221 Actions prévention et sensibilisation', 6 = '7222 Action propreté urbaine et nettoiement'}
64.rebuild_data = true
64.chapter_number_mixed_with_name = true
65.table_number = 1
65.header_lines = 5
65.header_mask = [[[0, 4], [1, 4]]]
65.rebuild_data = true
65.move_labels = [[5, 6], [7, 8], [9, 10]]
66.table_number = 1
66.header_lines = 7
66.header_mask = [[[0, 5], [1, 5]]]
66.move_labels = [[2, 1]]

[f8i]
pages = [67, 68, 69, 70]
axis = 'columns'
67.header_lines = 5
67.header_mask = [[[0, 8],[1, 8]]]
67.move_labels = [[3, 4]]
67.labels = {8 = '823 Transport fluvial', 9 = '824 Transport maritime'}
67.rebuild_data = true
68.table_number = 1
68.header_lines = 5
68.header_mask = [[[0, 7], [1, 7]]]
68.move_labels = [[2, 1], [4, 5], [8, 9], [10, 11]]
69.table_number = 1
69.header_lines = 5
69.header_mask = [[[0, 6], [1, 6]]]
69.move_labels = [[6, 7]]
70.table_number = 1
70.header_lines = 7
70.header_mask = [[[0, 5], [1, 5]]]
70.move_labels = [[2, 1], [10, 11]]

[pcvef]
pages = [71, 72]
axis = 'columns'
71.header_lines = 7
71.move_labels = [[9, 10]]
72.table_number = 1
72.header_lines = 5

[f0f]
pages = 73
data = [[[0, 'Libellé'], 'DEPENSES'], [[11, 'Libellé'], 'RECETTES']]
move_labels = [[3, 1], [4, 5]]
labels = {2 = 'nan'}
header_lines = 2

[f0f-sg]
pages = [74, [76, 77], 78]
axis = 'columns'
74.header_lines = 9
74.header_mask = [[[0, 5], [1, 5]]]
74.labels = {5 = '023 Fêtes et cérémonies', 6 = "024 Aide aux associations", 7 = '025 Cimetières et pompes funèbres', 8 = "026 Administration générale de l'état", 9 = "028 Autres moyens généraux"}
74.rebuild_data = true
76.table_number = 1
76.header_lines = 7
76.header_mask = [[[0, 5], [3, 5]]]
77.table_number = 0
77.header_lines = 7
77.header_mask = [[[0, 5], [3, 5]]]
78.header_lines = 5
78.table_number = 1
78.header_mask = [[[0, 5], [1, 5]]]
78.labels = {5 = '043 Aides européennes', 6 = '044 Aide publique au développement'}
78.rebuild_data = true
78.move_labels = [[2, 1]]

[f1f]
pages = 80
header_lines = 5
move_labels = [[2, 1]]

[f2f]
pages = [81, [82, 83], 84]
axis = 'columns'
81.table_number = 1
81.header_lines = 9
81.header_mask = [[[0, 3], [2, 8]]]
81.move_labels = [[2, 1]]
81.labels = {5 = '212 Ecoles primaires', 6 = '213 Classes regroupées', 8 = '222 Lycées publics', 9 = '223 Lycées privés'}
81.rebuild_data = true
82.table_number = 1
82.header_lines = 9
82.header_mask = [[[0, 7], [4, 10]]]
82.labels = {7 = '2561 Missions statutaires et réglementaires', 8 = '2562 Développement des compétences', 9 = '2563 Evolution et transition professionnelle', 10 = '2564 Organisation des activités pédagogiques', 11 = '2565 Autres', 12 = '2571 Concours', 13 = '2572 Missions administratives', 14 = '258 Autres'}
82.rebuild_data = true
83.table_number = 0
83.header_lines = 9
83.header_mask = [[[0, 7], [4, 10]]]
83.labels = {7 = '2561 Missions statutaires et réglementaires', 8 = '2562 Développement des compétences', 9 = '2563 Evolution et transition professionnelle', 10 = '2564 Organisation des activités pédagogiques', 11 = '2565 Autres', 12 = '2571 Concours', 13 = '2572 Missions administratives', 14 = '258 Autres'}
83.rebuild_data = true
84.table_number = 1
84.header_lines = 7
84.header_mask = [[[0, 6], [1, 6]]]
84.labels = {6 = '282 Sport Scolaire', 7 = '283 Médecine scolaire', 8 = '284 Classes de découverte', 9 = "288 Autre service annexe de l'enseignement", 10 = '29 Sécurité', 11 = 'Total Du Chapitre'}
84.rebuild_data = true
84.move_labels = [[2, 1]]

[f3f]
axis = 'columns'
pages = [[85, 86], 87, 88]
85.header_lines = 8
85.header_mask = [[[0, 8], [2, 8]]]
85.move_labels = [[8, 9], [7, 8], [12, 13]]
85.labels = {5 = 'nan'}
86.table_number = 0
86.header_lines = 8
86.header_mask = [[[0, 8], [2, 8]]]
86.move_labels = [[8, 9], [7, 8], [12, 13]]
86.labels = {5 = 'nan'}
87.table_number = 1
87.header_lines = 5
87.labels = {5 = '323 Piscines', 6 = '324 Centres de formation sportifs', 7 = '325 Autres équipements sportifs ou loisirs', 8 = '326 Manifestations sportives'}
87.rebuild_data = true
87.move_labels = [[3, 4]]
87.header_mask = [[[0, 5], [1, 5]]]
88.table_number = 1
88.header_lines = 7
88.labels = {5 = '332 Colonies de vacances', 6 = '338 Autres activités pour les jeunes', 7 = '341 Egalité entre les femmes et les hommes', 8 = '348 Autres', 9 = '39 Sécurité', 10 = 'Total Du Chapitre'}
88.rebuild_data = true
88.move_labels = [[2, 1], [3, 4], [8, 9]]

[f4f]
pages = [89, 90, 91]
axis = 'columns'
89.header_lines = 5
89.header_mask = [[[0, 5], [1, 5]]]
89.move_labels = [[4, 5], [8, 9]]
90.table_number = 1
90.header_lines = 10
90.labels = {0 = "Libellé", 1 = "420 Services communs", 2 = "4211 Actions en faveur de la maternité", 3 = "4212 Aides à la famille", 4 = "4213 Aides sociales à l'enfance", 5 = "4214 Adolescence", 6 = "4221 Crèches et garderies", 7 = "4222 Multi accueil", 8 = "4228 Autres actions pour la petite enfance"}
90.data = [[[0, 'Libellé'], 'DEPENSES'], [[0, '420 Services communs'], '1 319 200,00 0,00 0,00'], [[15, 'Libellé'], "Charges intervent° cpt prop. - Subvent°"], [[15, '420 Services communs'], '1 319 200,00 0,00 0,00']]
90.rebuild_data = true
90.chapter_number_mixed_with_name = true
91.table_number = 1
91.header_lines = 9
91.header_mask = [[[0, 6], [1, 6]], [[2, 4], [4, 4]]]
91.move_labels = [[2, 1], [8, 9], [6, 7], [5, 6]]

[f5f]
pages = [92, 93, 94]
axis = 'columns'
92.header_lines = 6
92.move_labels = [[2, 1]]
92.header_mask = [[[0, 3], [1, 7]]]
92.labels = {7 = "513 Art public", 8 = '514 Electrification'}
92.rebuild_data = true
93.table_number = 1
93.header_lines = 5
93.header_mask = [[[0, 7], [1, 7]]]
94.table_number = 1
94.header_lines = 5
94.header_mask = [[[0, 5], [1, 5]]]
94.move_labels = [[8, 9], [5, 7], [4, 5]]
94.labels = {6 = 'nan'}

[f6f]
pages = [95, 96]
axis = 'columns'
95.header_lines = 9
95.header_mask = [[[0, 5], [5, 6]]]
95.move_labels = [[8, 9]]
95.labels = {7 = "632 Industrie, commerce et artisanat"}
96.table_number = 1
96.header_lines = 4
96.move_labels = [[2, 1], [8, 9], [6, 7]]

[f7f]
pages = [97, 98, 99]
axis = 'columns'
97.header_lines = 10
97.data_in_first_column = ['70 Services Communs', '71 Actions transversales']
97.labels = {0 = 'Libellé', 2 = '7211 Actions prévention et sensibilisation',  3 = '7212 collecte des déchets', 4 = '7213 Tri, valorisation, traitement des déchets', 5 = '7221 Actions prévention et sensibilisation', 6 = '7222 Action propreté urbaine et nettoiement'}
97.chapter_number_mixed_with_name = true
97.rebuild_data = true
98.table_number = 1
98.header_lines = 5
98.header_mask = [[[0, 4], [1, 4]]]
98.move_labels = [[5, 6], [7, 8], [9, 10]]
98.rebuild_data = true
99.table_number = 1
99.header_lines = 7
99.header_mask = [[[0, 5], [1, 5]]]
99.move_labels = [[2, 1]]

[f8f]
pages = [100, 101, 102, 103]
axis = 'columns'
100.header_lines = 8
100.data_in_first_column = ['80 Services communs']
100.labels = {2 = "820 Services communs", 3 = "821 Transports sur route", 4 = "822 Transport ferroviaire", 5 = "823 Transport fluvial", 6 = "824 Transport maritime", 7 = "825 Transport aérien", 8 = "826 Autres transports"}
100.rebuild_data = true
100.chapter_number_mixed_with_name = true
101.table_number = 1
101.header_lines = 7
101.header_mask = [[[0, 7], [2, 7]]]
101.move_labels = [[3, 4], [5, 6], [8, 9], [10, 11]]
102.table_number = 1
102.header_lines = 5
102.header_mask = [[[0, 6], [1, 6]]]
102.move_labels = [[5, 6]]
103.table_number = 1
103.header_lines = 7
103.header_mask = [[[0, 5], [1, 5]]]
103.move_labels = [[2, 1], [10, 11]]
