# Configuration file for budget report extraction
#
# This file shall contain at least the [general section]
# and then one section by table to extract
# Each table property can be specified per-page using dotted key
# notation with page name and propety:
# [testpage]
# pages = [45, 46, 47]
# header_lines = 5
# 47.header_lines = 2
#
# Properties description
#
# [general]
# filename = '' # mandatory, source file name
# tables = [] # mandatory, list of tables to extract
#
# [table1]
# pages - The list of the pages to extract, can be:
# - an integer for a single page
# - a list of integers for multi-page table, merged according
#   to 'axis'
# - a list mixing integers and list of integer, merged according
#   to 'axis' and sublists merged according to 'index'
# Defaults to None (leads to error)
# pages = None
#
# table_number - The number of the table in the page, defaults to 1
# table_number = 1
#
# header_lines - The number of lines in the header, defaults to 1
# header_lines = 1
#
# data_start_column - The first data column, starting from 0 and
# counted right after read, before header, index and data processing
# Defaults to 2
# data_start_column = 2
#
# initial_chapter_name_column - The column of the chapter name,
# counted right after read, before header, index and data processing.
# Defaults to 1
# initial_chapter_name_column = 1
#
# axis - The axis to merge multipages, can be either 0/'index' or
# 1/'columns'. This is passed directly to pandas.concat.
# Defaults to 'index' 
# axis = 'index'
#
# chapter_number_mixed_with_name - Boolean, indicates whether in
# output from file read the first rows contains both the chapter
# number and the chapter name. Defaults to false
# chapter_number_mixed_with_name = false
#
# verbose - Boolean. Be verbose during processing, defaults to false
# verbose = false
#
# labels_to_fix - dict of column number/label pairs. Replace column
# number by label. The replacement is performed after file read and
# chapter number/name demixing (if any).
# If the column 0 is not specified, it is replaced by 'Chapitre'.
# 'nan' can be specified as label to drop column if useless
# Defaults to {}
# labels_to_fix = {}
#
# data_to_fix - array of arrays of key/value pairs. Set 'value'
# at 'key' location.
# 'key' shall be in format '[row, column]'.
# Defaults to []
# data_to_fix = []
#
# swap_labels_to_column - list of list of source/dest pairs. Move
# source label to destination column. Source column is marked for
# latter drop as label is set to 'nan'. Defaults to []
# swap_labels_to_column = []

[general]
filename = 'BP_2025_ville.pdf'
tables = ['bgdi', 'bgdf', 'bgri', 'bgrf', 'vedi', 'veri', 'dari', 'dadi', 'dadf', 'darf', 'pcvei']
#tables = ['f0-sg']

[bgdi]
pages = 17
labels_to_fix = {2 = 'nan'}

[bgdf]
pages = 17
table_number = 2

[bgri]
pages = 19
labels_to_fix = {2 = 'nan'}

[bgrf]
pages = 19
table_number = 2

[vedi]
pages = 21
header_lines = 5
labels_to_fix = {1 = 'Titre Chapitre', 2 = 'nan'}
data_to_fix = [[[0, 'Chapitre'], 'Total']]

[veri]
pages = 23
header_lines = 4
labels_to_fix = {1 = 'Titre Chapitre', 2 = 'nan'}
swap_labels_to_column = [[4, 5]]
data_to_fix = [[[0, 'Chapitre'], 'Total']]

[dadi]
pages = [25, 26]
header_lines = 5

[dari]
pages = [31, 32]
header_lines = 4
31.swap_labels_to_column = [[2, 1], [4, 5]]
31.data_to_fix = [[[0, 'Chapitre'], 'Total']]

[dadf]
pages = [36, 37, 38, 39]
header_lines = 5
39.labels_to_fix = {1 = 'Libellé', 2 = "nan"}
39.chapter_number_mixed_with_name = true

[darf]
pages = [41, 42]
header_lines = 3
41.swap_labels_to_column = [[2, 1], [4, 5]]
42.chapter_number_mixed_with_name = true
42.swap_labels_to_column = [[2, 1], [5, 6]]
42.labels_to_fix = {3 = 'nan'}

[pcvei]
pages = [44, [45, 46]]
axis = 'columns'
44.header_lines = 7
44.swap_labels_to_column = [[9, 10]]
45.header_lines = 5
46.swap_labels_to_column = [[5, 6], [8, 9]]
46.header_lines = 5

[f0]
#verbose = true
pages = 47
header_lines = 2
labels_to_fix = {1 = 'Libellé', 2 = 'nan', 3 = 'nan', 4 = 'nan', 5 = 'Opérations Non Ventilables'}
data_to_fix = [[[0, 'Libellé'], 'DEPENSES'], [[3, 'Libellé'], 'RECETTES']]

[f0-sg]
#verbose = true
pages = 50
49.header_lines = 7
50.header_lines = 7
50.labels_to_fix = {1 = 'Libellé', 2 = 'nan', 7 = 'nan', 8 = '048 Autres Actions'}
axis = 'columns'