# Configuration file for budget report extraction
#
# This file shall contain at least the [general section]
# and then one section by table to extract
# Each table property can be specified per-page using dotted key
# notation with page name and propety:
# [testpage]
# pages = [45, 46, 47]
# header_lines = 5
# 47.header_lines = 2
#
# Properties description
#
# [general]
# filename = '' # mandatory, source file name
# tables = [] # mandatory, list of tables to extract
#
# [table1]
# pages - The list of the pages to extract, can be:
# - an integer for a single page
# - a list of integers for multi-page table, merged according
#   to 'axis'
# - a list mixing integers and list of integer, merged according
#   to 'axis' and sublists merged according to 'index'
# Defaults to None (leads to error)
# pages = None
#
# table_number - The number of the table in the page, defaults to 1
# table_number = 1
#
# header_lines - The number of lines in the header, defaults to 1
# header_lines = 1
#
# data_start_column - The first data column, starting from 0 and
# counted right after read, before header, index and data processing
# Defaults to 2
# data_start_column = 2
#
# initial_chapter_name_column - The column of the chapter name,
# counted right after read, before header, index and data processing.
# Defaults to 1
# initial_chapter_name_column = 1
#
# axis - The axis to merge multipages, can be either 0/'index' or
# 1/'columns'. This is passed directly to pandas.concat.
# Defaults to 'index' 
# axis = 'index'
#
# chapter_number_mixed_with_name - Boolean, indicates whether in
# output from file read the first rows contains both the chapter
# number and the chapter name. Defaults to false
# chapter_number_mixed_with_name = false
#
# verbose - Boolean. Be verbose during processing, defaults to false
# verbose = false
#
# labels_to_fix - dict of column number/label pairs. Replace column
# number by label. The replacement is performed after file read and
# chapter number/name demixing (if any).
# If the column 0 is not specified, it is replaced by 'Chapitre'.
# 'nan' can be specified as label to drop column if useless
# Defaults to {}
# labels_to_fix = {}
#
# data_to_fix - array of arrays of key/value pairs. Set 'value'
# at 'key' location.
# 'key' shall be in format '[row, column]'.
# Defaults to []
# data_to_fix = []
#
# swap_labels_to_column - list of list of source/dest pairs. Move
# source label to destination column. Source column is marked for
# latter drop as label is set to 'nan'. Defaults to []
# swap_labels_to_column = []
#
# mask_header_cells - list of list of line/column pairs. Avoid to conside
# the cells included in coordinates for labels construction.
# mask_header_cells = []
#
# data_in_first_column - string. In case first data column is merged with
# chapter label column, name of the data column. Splitting is performed
# after labels swapping and fixing.
# data_in_first_column = ''

[general]
filename = 'BP_2025_ville.pdf'
#tables = ['bgdi', 'bgdf', 'bgri', 'bgrf', 'vedi', 'veri', 'dari', 'dadi', 'dadf', 'darf', 'pcvei', 'f0', 'f0-sg', 'f1', 'f2', 'f3', 'f4', 'f5']
tables = ['f5']

[bgdi]
pages = 17
labels_to_fix = {2 = 'nan'}

[bgdf]
pages = 17
table_number = 2

[bgri]
pages = 19
labels_to_fix = {2 = 'nan'}

[bgrf]
pages = 19
table_number = 2

[vedi]
verbose = true
pages = 21
header_lines = 5
labels_to_fix = {1 = 'Titre Chapitre', 2 = 'nan'}
data_to_fix = [[[0, 'Chapitre'], 'Total']]

[veri]
pages = 23
header_lines = 4
labels_to_fix = {1 = 'Titre Chapitre', 2 = 'nan'}
swap_labels_to_column = [[4, 5]]
data_to_fix = [[[0, 'Chapitre'], 'Total']]

[dadi]
pages = [25, 26]
header_lines = 5

[dari]
pages = [31, 32]
header_lines = 4
31.swap_labels_to_column = [[2, 1], [4, 5]]
31.data_to_fix = [[[0, 'Chapitre'], 'Total']]

[dadf]
pages = [36, 37, 38, 39]
header_lines = 5
39.labels_to_fix = {1 = 'nan'}
39.chapter_number_mixed_with_name = true

[darf]
pages = [41, 42]
header_lines = 3
41.swap_labels_to_column = [[2, 1], [4, 5]]
42.chapter_number_mixed_with_name = true
42.swap_labels_to_column = [[1, 0], [4, 5]]
42.labels_to_fix = {2 = 'nan'}

[pcvei]
pages = [44, [45, 46]]
axis = 'columns'
44.header_lines = 7
44.swap_labels_to_column = [[9, 10]]
45.header_lines = 5
46.swap_labels_to_column = [[5, 6], [8, 9]]
46.header_lines = 5

[f0]
pages = 47
header_lines = 2
labels_to_fix = {2 = 'nan'}
47.swap_labels_to_column = [[3, 1], [4, 5]]

[f0-sg]
pages = [48, 49, 50]
axis = 'columns'
48.header_lines = 9
48.labels_to_fix = {5 = '023 Fêtes et cérémonies', 6 = "024 Aide aux associations"}
49.header_lines = 7
49.table_number = 1
49.mask_header_cells = [[[0, 5], [3, 5]]]
50.header_lines = 7
50.table_number = 1
50.swap_labels_to_column = [[2, 1], [7, 8]]
50.mask_header_cells = [[[0, 5], [1, 5]]]
50.rebuild_data = true

[f1]
pages = 51
header_lines = 5
swap_labels_to_column = [[2, 1]]

[f2]
pages = [52, 53, 54]
axis = 'columns'
52.header_lines = 9
52.swap_labels_to_column = [[2, 1]]
52.mask_header_cells = [[[0, 3], [2, 8]]]
52.labels_to_fix = {5 = '212 Ecoles primaires', 6 = '213 Classes regroupées', 8 = '222 Lycées publics', 9 = '223 Lycées privés'}
52.rebuild_data = true
53.table_number = 1
53.header_lines = 9
53.mask_header_cells = [[[0, 7], [4, 10]]]
53.rebuild_data = true
53.labels_to_fix = {7 = '2561 Missions statutaires et réglementaires', 8 = '2562 Développement des compétences', 9 = '2563 Evolution et transition professionnelle', 10 = '2564 Organisation des activités pédagogiques', 11 = '2565 Autres', 12 = '2571 Concours', 13 = '2572 Missions administratives', 14 = '258 Autres'}
54.table_number = 1
54.header_lines = 7
54.rebuild_data = true
54.swap_labels_to_column = [[2, 1]]
54.mask_header_cells = [[[0, 6], [3, 6]]]
54.labels_to_fix = {6 = '282 Sport Scolaire', 7 = '283 Médecine scolaire', 8 = '284 Classes de découverte', 9 = "288 Autre service annexe de l'enseignement", 10 = '29 Sécurité', 11 = 'Total Du Chapitre'}

[f3]
pages = [55, 56, 57]
axis = 'columns'
55.header_lines = 8
55.mask_header_cells = [[[0, 8], [2, 8]]]
55.swap_labels_to_column = [[4, 5], [8, 9], [7, 8], [12, 13]]
56.table_number = 1
56.header_lines = 5
56.mask_header_cells = [[[0, 6], [1, 6]]]
56.swap_labels_to_column = [[2, 1], [4, 5]]
56.labels_to_fix = {6 = '323 Piscines', 7 = '324 Centres de formation sportifs', 8 = '325 Autres équipements sportifs ou loisirs', 9 = 'Manifestations sportives'}
56.rebuild_data = true
56.data_to_fix = [[[0, 'Libellé'], 'DEPENSES'], [[3, 'Libellé'], 'RECETTES']]
57.table_number = 1
57.header_lines = 7
57.mask_header_cells = [[[0, 4], [1, 6]]]
57.swap_labels_to_column = [[2, 1], [3, 4]]
57.labels_to_fix = {5 = '332 Colonies de vacances', 6 = '338 Autres activités pour les jeunes', 7 = '341 Egalité entre les femmes et les hommes', 8 = '348 Autres', 9 = '39 Sécurité', 10 = 'Total Du Chapitre'}
57.rebuild_data = true

[f4]
pages = [58, 59, 60]
axis = 'columns'
58.header_lines = 5
58.mask_header_cells = [[[0, 8], [1, 8]]]
58.swap_labels_to_column = [[2, 1], [3, 4], [5, 6], [11, 12]]
58.labels_to_fix = {8 = 'nan'}
58.data_to_fix = [[[0, 'Libellé'], 'DEPENSES'], [[3, 'Libellé'], 'RECETTES']]
59.table_number = 1
59.header_lines = 7
59.mask_header_cells = [[[0, 3], [3, 10]]]
59.swap_labels_to_column = [[10, 11], [6, 8], [5, 6], [4, 5]]
59.labels_to_fix = {7 = 'nan'}
60.table_number = 1
60.header_lines = 9
60.swap_labels_to_column = [[2, 1], [8, 9], [6, 7], [5, 6]]
60.mask_header_cells = [[[0, 6], [1, 6]], [[2, 4], [4, 4]]]

[f5]
pages = [61, 62, 63]
axis = 'columns'
61.header_lines = 7
61.mask_header_cells = [[[0, 3], [1, 7]]]
61.swap_labels_to_column = [[2, 1]]
61.labels_to_fix = {7 = '513 Art Public', 8 = '514 Electrification'}
61.rebuild_data = true
62.table_number = 1
62.header_lines = 8
62.data_start_column = 1
62.data_in_first_column = '52 Politique De La Ville'
62.labels_to_fix = {3 = '551 Parc Privé De La Collectivité', 4 = '552 Aide Au Secteur Locatif', 5 = "553 Aide À L'Accession À La Propriété", 6 = "554 Aire d'Accueil Des Gens Du Voyage", 7 = '555 Logement Social'}
62.rebuild_data = true
62.chapter_number_mixed_with_name = true
63.table_number = 1
63.header_lines = 5
63.mask_header_cells = [[[0, 5], [1, 5]]]
63.swap_labels_to_column = [[8, 9], [5, 7], [4, 5]]
63.labels_to_fix = {6 = 'nan'}